<div class="form-container">
  <form class="form" action='/login' method='POST'>
    <label>
      <input type='text' name='username' placeholder="Enter your username" />
    </label>
    <label>
      <input type='password' name='password' placeholder="Enter yout password" />
    </label>

    <button type='submit'>Login</button>
  </form>
</div>
{{#if errorMessage}}
{{errorMessage}}
{{/if}}