<h1 class="greeting">Create new walk</h1>
<div class="card-create-container ">
  <div class="card-create-form ">
    <form action="/cards/create" method="post" enctype="multipart/form-data">
      <label for="title"> Title: </label>
      <input type="text" name="title" id="title">
      <label for="description"> Description: </label>
      <textarea name="description" id="description" cols="30" rows="5"></textarea>
      <label class="choose-photo" for="cardImageUrl">Choose a photo </label>
      <input type="file" name="cardImageUrl" id="cardImageUrl">
      <button class="create-walk-btn" type="submit">Create walk</button>
    </form>
  </div>



</div>