<div>
  <form action="/cards/create" method="post" enctype="multipart/form-data">
    <label for="title"> Title: </label>
    <input type="text" name="title" id="title">

    <label for="description"> Description: </label>
    <textarea name="description" id="description" cols="30" rows="10"></textarea>


    <label for="cardImageUrl"> Card Image: </label>
    <input type="file" name="cardImageUrl" id="cardImageUrl">


    <button type="submit">Create walk</button>
  </form>
</div>