<div class='errors'>

  <h1>404 Error</h1>
  <h2>Something Silly has Happened
  </h2>

  <img
    src='https://res.cloudinary.com/dvzekm9zq/image/upload/v1660155674/cards/silly-walking_lnapna.jpg'
    alt='monty python silly walking'
  />

</div>