.errors {
  width: 100vw;
  height: 100vh;
  background: white;
  text-align: center;
  padding: 20px;
}

.errors h1 {
  padding: 10px;
  font-family: 'Rubik Dirt', cursive;
  font-size: 6em;
}

.errors h2 {
  padding: 10px;
  font-family: 'Rubik Dirt', cursive;
  font-size: 2em;
}

.errors img {
  width: 80vw;
}
