/*create walk button*/
.create-profile-btn,
.choose-profile-picture {
  top: 20vh;
  all: unset;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  width: 10vw;
  padding: 1vh 1vw;
  margin: 10px;
  text-align: center;
  color: white;
  background-color: #ea4c89;
}

.create-profile-btn:hover,
.choose-profile-picture:hover {
  background-color: #f082ac;
}

.create-profile-btn a,
.choose-profile-picture a {
  text-decoration: none;
  color: white;
}