.card-create-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #42275a;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,
      #734b6d,
      #42275a);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,
      #734b6d,
      #42275a);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-create-form form {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid #f2f2f2;
  color: #f2f2f2;
  width: 25vw;
  height: 50vh;
  border-radius: 10%;
  background: #fe8c00;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,
      #f83600,
      #fe8c00);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,
      #f83600,
      #fe8c00);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-create-form input[type='text'],
input[type='password'],
input[type='email'],
input[type='file'],
textarea {
  text-align: center;
  border: 1px solid #0f2027;
  border-radius: 5px;
  height: 5vh;
  width: 15vw;
  color: #0f2027;
  background-color: #f2f2f2;
}

.card-create-form input[type='file'] {
  display: none;
}

/*create walk button*/
.create-walk-btn,
.choose-photo {
  top: 20vh;
  all: unset;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  width: 5vw;
  padding: 1vh 1vw;
  margin: 10px;
  text-align: center;
  color: #f2f2f2;
  background-color: #ea4c89;
}

.create-walk-btn:hover,
.choose-photo:hover {
  background-color: #f082ac;
}

.create-walk-btn a,
.choose-photo a {
  text-decoration: none;
  color: #f2f2f2;
}