.greeting {
  text-align: center;
  color: cornsilk;
  padding: 4vh 0;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.profile {
  background: #fe8c00; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f83600,
    #fe8c00
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f83600,
    #fe8c00
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border: 1px solid cornsilk;
  border-radius: 1.5vw;
  width: 20vw;
  height: 50vh;
  margin: 2vh 2vw;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  color: cornsilk;
}

.profile-image img {
  border-radius: 1.5vw;
  width: 20vw;
  height: 50vh;
  object-fit: cover;
  object-position: center;
}

/* applied to every button in the main page*/
.profileBtn {
  all: unset;
  border: 1px solid cornsilk;
  border-radius: 10px;
  width: 5vw;
  padding: 1vh 1vw;
  margin: 10px;
  text-align: center;
  color: white;
  /* applied to every button in the main page*/
  background-color: #ea4c89;
}

.profileBtn:hover {
  background-color: #f082ac;
}

.profileBtn a {
  text-decoration: none;
  color: white;
}

.edit-delete-profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
