* {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* ---------------------------------------- Sign up and login styles -------------------------------------------------- */
.form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  padding-top: 25vh;
  background: #0F2027;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}


.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid cornsilk;
  color: cornsilk;
  width: 25vw;
  height: 50vh;
  border-radius: 10%;
  background: #833ab4;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.form input {
  border: 1px solid #0F2027;
  border-radius: 5px;
  height: 5vh;
  width: 15vw;
  color: #0F2027;
  background-color: cornsilk;
}

.form input[type="text"],
input[type="password"],
input[type="email"] {
  text-align: center;
}

.form::placeholder {
  color: black;
  opacity: 0.5;
  text-align: center;
}

.form button {
  all: unset;
  border: 1px solid cornsilk;
  border-radius: 5px;
  width: 5vw;
  padding: 1vh 1vw;
  text-align: center;
  color: #0F2027;
  box-shadow: 1px 3px 4px cornsilk;
}

.form button:hover {
  border: 1px solid #0F2027;
  background-color: cornsilk;
  color: #0F2027;
}