* {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------------------------------------- Sign up and login styles -------------------------------------------------- */
.form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  padding-top: 25vh;
  background: #42275a;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,
      #734b6d,
      #42275a);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,
      #734b6d,
      #42275a);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid #f2f2f2;
  color: #f2f2f2;
  width: 25vw;
  height: 50vh;
  border-radius: 10%;
  background: #fe8c00;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,
      #f83600,
      #fe8c00);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,
      #f83600,
      #fe8c00);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form input {
  border: 1px solid #0f2027;
  border-radius: 5px;
  height: 5vh;
  width: 15vw;
  color: #0f2027;
  background-color: #f2f2f2;
}

.form input[type='text'],
input[type='password'],
input[type='email'] {
  text-align: center;
}

.form::placeholder {
  color: black;
  opacity: 0.5;
  text-align: center;
}

/* .form button {
  all: unset;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  width: 5vw;
  padding: 1vh 1vw;
  text-align: center;
  color: #0f2027;
  box-shadow: 1px 3px 4px #f2f2f2;
}

.form button:hover {
  border: 1px solid #0f2027;
  background-color: #f2f2f2;
  color: #0f2027;
} */