* {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ul-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #948e99;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2e1437, #948e99);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2e1437, #948e99);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.ul-list:hover {
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.bg {
  background-image: url('https://res.cloudinary.com/dvzekm9zq/image/upload/v1660065359/cards/caminhada_dx5jzw.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logoImg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.tagline {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80vw;

  text-shadow: 2px 2px 4px #333;
  color: white;
  font-size: 6em;
}

.signupBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;
  background-color: #ea4c89;
  border-radius: 30px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  width: 250px;
  height: 60px;
}

.signupBtn:hover,
.signupBtn:focus {
  background-color: #f082ac;
}