* {
  box-sizing: border-box;
}

.flex {
  height: 50vh;
  padding: 4vh 2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}


.current-walk,
.comment-section {
  height: 45vh;
}

.current-walk {
  min-height: 100%;
  gap: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #f2f2f2;
  border-radius: 15px;
  background: #833ab4;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.current-walk-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #f2f2f2;
}

.current-walk-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #f2f2f2;
}

.current-walk-card img {
  min-width: 15rem;
  max-width: 16rem;
  min-height: 10rem;
  max-height: 11rem;
  border: 2px solid #f2f2f2;
  border-radius: 15px;
  object-fit: cover;
  object-position: center;
}



.edit-delete-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 5vh;
}

.edit-button,
.delete-button,
.share-button {
  all: unset;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  width: 6vw;
  padding: 1vh 1vw;
  text-align: center;
  color: #f2f2f2;
}

.edit-button a {
  width: 100%;
  text-decoration: none;
  color: #f2f2f2;
}

.edit-button:hover,
.delete-button:hover,
.share-button:hover {
  color: #0F2027;
  background-color: #f2f2f2;
  border: 1px solid #0F2027
}

.edit-button a:hover {
  color: #0F2027;
  background-color: #f2f2f2;
}

.comment-section {
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.comment-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.comment-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f2f2f2;
}

.comment-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #0F2027;
  font-weight: lighter;

}

.comment-body-ul {
  background-color: #f2f2f2;
  border: 2px solid #0F2027;
  border-radius: 5px;
  list-style-type: none;
  height: 40vh;
  width: 80%
}

.comment-textarea-button {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.textarea {
  padding-top: 1vh;
  border: 2px solid #0F2027;
  height: 5vh;
  width: 100%;
}


.flex-2 {
  padding: 4vh 2vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


.upload-photo-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.uploaded-photo-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;

}


input[type="file"] {
  display: none;
}

.photo-size {
  min-width: 10rem;
  max-width: 11rem;
  min-height: 10rem;
  max-height: 11rem;
  border: 2px solid #f2f2f2;
  border-radius: 15px;
  margin: 20px;
}

.upload-btn {
  top: 20vh;
  all: unset;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  width: 8vw;
  padding: 1vh 1vw;
  margin: 10px;
  text-align: center;
  color: #f2f2f2;
  background-color: #ea4c89;
}

.upload-btn:hover {
  background-color: #f082ac;
}