<div class="all-cards-container">
  {{#each users}}
  <div class="card">
    <div class="card-image">
      <img src="{{profileImg}}" alt="profile-img">
    </div>
    <span>{{firstName}} {{lastName}}</span>
    <button class="btn"><a href={{!-- '/main/{{_id}}/details' --}}>View Details</a></button>

  </div>
  {{/each}}
</div>