{{#each users}}
<div
  style="border: 1px solid black; display:flex; flex-direction: column; align-items: center; width: 50vw; height: auto;">
  <img src="{{profileImg}}" alt="profile-img">
  <span>{{firstName}} {{lastName}}</span>


</div>
{{/each}}