<form action="/profile/{{id}}/edit" method="post" enctype="multipart/form-data">
  <label for="firstName">First Name:</label>
  <input type="text" name="firstName" id="firstName" value="{{firstName}}">
  <label for="lastName">Last Name:</label>
  <input type="text" name="lastName" id="lastName" value="{{lastName}}">
  <label for="profileImg">upload new profile picture</label>
  <input type="file" name="profileImg" id="profileImg">
  <button type="submit">Save changes</button>

</form>